fastapi
pandas
uvicorn
numpy~=1.26.0
scikit-learn
requests
torch==2.1.0
torchvision==0.16.0
transformers==4.35.2
tqdm
python-dotenv
telethon==1.28.5
openai
tiktoken
xgboost
lightgbm
shap
optuna
catboost 